name: SVC1

permissions:
  id-token: write
  contents: write
  pull-requests: write
  packages: read

on:
  push:
    branches: 
      - main
    paths:
      - "backends/svc1/**"
      - ".github/workflows/svc1.deploy.yml"

defaults:
  run:
    working-directory: backends/svc1

jobs:
  git-cliff-action:
    runs-on: ubuntu-latest
    name: SVC1 Release
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 50
      - name: Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'yarn'
          cache-dependency-path: backends/svc1/yarn.lock
      - name: Install
        run: yarn install
      - name: Find Last Commit
        id: last-commit
        run: |
          last_commit=$(git log --reverse --ancestry-path $(git describe --tags --match 'svc1*' --abbrev=0)..HEAD | head -n 1 | sed 's/commit //')
          echo "last_commit=$last_commit" >> $GITHUB_OUTPUT
      - name: Generate a changelog
        uses: orhun/git-cliff-action@v4
        id: git-cliff
        with:
          config: cliff.toml
          args: ${{ steps.last-commit.outputs.last_commit }}..HEAD --include-path "backends/svc1/**/*"
        env:
          OUTPUT: CHANGELOG.md
      - name: Package Release
        run: |
          yarn package
          zip -r sls-release.zip .serverless
      - name: Create Release
        uses: svenstaro/upload-release-action@v2
        with:
          file: backends/svc1/sls-release.zip
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          release_name: svc1-${{ github.ref }}
          tag: svc1-${{ github.ref }}
          body: ${{ steps.git-cliff.outputs.content }}
