name: SVC2

permissions:
  id-token: write
  contents: write
  pull-requests: write
  packages: read

on:
  push:
    branches: 
      - main
    paths:
      - "backends/svc2/**"
      - ".github/workflows/svc2.deploy.yml"

defaults:
  run:
    working-directory: backends/svc2

jobs:
  git-cliff-action:
    runs-on: ubuntu-latest
    name: SVC2 Release
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 50
      - name: Workflow variables
        id: vars
        run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
      - name: Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'yarn'
          cache-dependency-path: backends/svc2/yarn.lock
      - name: Install
        run: yarn install
      - name: Find Last Commit
        id: last-commit
        run: |
          last_commit=$(git log --reverse --ancestry-path $(git describe --tags --match 'svc2*' --abbrev=0)..HEAD | head -n 1 | sed 's/commit //')
          echo "last_commit=$last_commit" >> $GITHUB_OUTPUT
      - name: Generate a changelog
        id: git-cliff
        uses: orhun/git-cliff-action@v4
        with:
          config: cliff.toml
          args: ${{ steps.last-commit.outputs.last_commit }}..HEAD --include-path "backends/svc2/**/*"
        env:
          OUTPUT: CHANGELOG.md
      - name: Package Release
        run: |
          yarn package
          zip -r sls-release.zip .serverless
      - name: Create Release
        uses: svenstaro/upload-release-action@v2
        with:
          file: backends/svc2/sls-release.zip
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          release_name: svc2-${{ steps.vars.outputs.sha_short }}
          tag: svc2-${{ steps.vars.outputs.sha_short }}
          body: ${{ steps.git-cliff.outputs.content }}
